<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Payment requests</h1>

<div id="payment_requests">
  <% @payment_requests.each do |payment_request| %>
    <%= render payment_request %>
    <br>
  <% end %>
</div>
